.listProducts{
    height:80vh;
    overflow-y: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    margin: 5px;
    list-style: none;
}
.example-card-footer {
    padding: 16px;
  }